.popup__closebtn {
  width: 32px;
  height: 32px;
  background: url(../../../images/Close-icon.svg) no-repeat center;
  border: none;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  left: 103%;
  top: -13%;

}
.popup__closebtn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 610px) {
  .popup__closebtn {
    width: 20px;
    height: 20px;
    left: 95%;
    top: -10%;
  }
}

@media all and (max-width: 320px) {
  .popup__closebtn {
    left: 93%;
  }
}
