.popup__container {
  position: fixed; 
  display: flex;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  max-width: 430px;
  width: 100%;
  min-height: 330px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


@media all and (max-width: 320px) {
  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }
}
