.popup__closebtn {
  width: 32px;
  height: 32px;
  background: url(../../../images/Close-icon.svg) no-repeat center;
  border: none;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  left: 110%;
  top: 0;
  transform: translate(-110%, -110%);
}
.popup__closebtn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 610px) {
  .popup__closebtn {
    width: 25px;
    height: 25px;
    left: 100%;
    top: -5%;
  }
}

@media all and (max-width: 320px) {
  .popup__closebtn {
    width: 20px;
    height: 20px;
  }
}
