@import url(../Vendor/normalize.css);
@import url(./fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/container/container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/all-buttons/all-buttons.css);
@import url(../blocks/form/form.css);
@import url(../blocks/form/__label/form__label.css);
@import url(../blocks/form/__input-error/form__input-error.css);
@import url(../blocks/form/__input/form__input.css);
@import url(../blocks/form/__input/_type_error/form__input_type_error.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__closebtn/popup__closebtn.css);
@import url(../blocks/popup/_theme_dark/popup_theme_dark.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/image-popup/__container/image-popup__container.css);
@import url(../blocks/image-popup/__photolink/image-popup__photolink.css);
@import url(../blocks/image-popup/__caption/image-popup__caption.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/_delete/popup__container_delete.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/form/__savebtn/form__savebtn.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__title/_delete/popup__title_delete.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__title-container/profile__title-container.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__editbtn/profile__editbtn.css);
@import url(../blocks/profile/__avatar-overlay/profile__avatar-overlay.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar-editbtn/profile__avatar-editbtn.css);
@import url(../blocks/profile/__addbtn/profile__addbtn.css);
@import url(../blocks/form/__savebtn/_inactive/form__savebtn_inactive.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__deletebtn/places__deletebtn.css);
@import url(../blocks/places/__deletebtn/__deletebtn_visible/places__deletebtn_visible.css);
@import url(../blocks/places/__container/places__container.css);
@import url(../blocks/places/__title-container/places__title-container.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__likes-container/places__likes-container.css);
@import url(../blocks/places/__likes/places__likes.css);
@import url(../blocks/places/__likebtn/places__likebtn.css);
@import url(../blocks/places/__likebtn/_active/places__likebtn_active.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);


