.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 29px;
  background: url(../../../images/Cousteau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}

@media all and (max-width: 320px) {
  .profile__avatar {
    margin: auto;
  }
}
