.profile__addbtn {
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  background: url(../../../images/add-icon.svg) no-repeat center;
  align-self: center;
  margin-left: auto;
}

.profile__addbtn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 696px) {
  .profile__addbtn {
    margin: 0 auto 36px auto;
    width: 50%;
  }
}

@media all and (max-width: 320px) {
  .profile__addbtn {
    width: 100%;
  }
}
