.form__savebtn {
  width: 100%;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border: none;
  color: #ffffff;
  margin-top: 15px;
}

.form__savebtn:hover {
  opacity: 0.8;
  
}

@media all and (max-width: 320px) {
  .form__savebtn {
    font-size: 14px;
    line-height: 17px;
  }
}
