.places__deletebtn {
  background: url(../../../images/trashbin.svg) no-repeat;
  background-size: cover;
  border: 0;
  height: 19px;
  width: 18px;
  position: absolute;
  right: 8%;
  top: 6%;
  display: none;
}

.places__deletebtn:hover {
  transition: all ease-out 0.5s;
  opacity: 0.5;
}
