.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 34px;
  margin-bottom: 46px;
}

@media all and (max-width: 320px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 70px;
    margin-top: 23px;
  }
}
